---
---

@import "{{ site.theme }}";

.page-header {
  background-image: url("../KTM_header-picture_neuland-1.jpg");
  background-position: left 200px;
  color: black;
}

.project-name {
  color: black;
}

.project-tagline {
  color: black;
}
